body {
    background-color:#f0ebf8;
}
.form{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    min-height: 135px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.form-container{
    margin-left: 25%;
    margin-right: 25%;
}
input{
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}
select{
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}
strong{
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}